<!-- Global Page footer -->  
<div class="footer fixed-bottom text-center text-muted" id="footer">
    <hr>
    <p class="ms-5">
        <small>app-version - 01.0224.2025 | Chris Navarro | NDAS&trade; | 2025 | 
            <a href="#"><i class="bi bi-facebook text-primary"></i></a>
            <a href="#"><i class="bi bi-messenger text-primary"></i></a>
            <a href="https://www.linkedin.com/in/chris-navarro-42378572/"><i class="bi bi-linkedin text-primary"></i></a>
            <a href="https://join.slack.com/t/newworkspace-uf11677/shared_invite/zt-2qmgr2z44-H0wXd0VcxmT~AIybfHgJbA"><i class="bi bi-slack text-primary"></i></a>
        </small>
    </p>
</div>